@page "/acercade"

<div>
    <h3>Acerca de mi</h3>
</div>

<div class="mt-4">
    <img src="/img/meinthecar.jpg" class="img-thumbnail" width="200" height="230">

</div>

<div class="mt-3">
     <strong>Nombre:</strong> Ada Lisbeth

</div>
<div class="mt-3">
    <strong>Apellido:</strong> Jimenez Rosendo

</div>
<div class="mt-3">
    <strong>Telefono:</strong> 849-000-0000

</div>
<div class="mt-3">
    <strong>Correo:</strong><a href="maito:20220790@itla.edu.do"> 20220790@itla.edu.do</a>

</div>
<div class="mt-3">
    <strong>Experiencia:</strong> Un cuatrimestre con el profesor Amadis de experiencia. Ejecicios con C#, basico de APIs y algo minimo de html.

</div>