@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Bienvenidos a la TAREA8!</h1>

Ya estoy loca que se acabe este cuatrimestre.
<hr />
<h6>El profesor Amadis es el mejor pero no es un cachú.</h6>
